<div class="pos-f-t fixed-top header">
    <nav class="navbar navbar-inverse bg-inverse navbar-toggleable-md">
        <button class="navbar-toggler navbar-toggler-right" (click)="toggleSidebar()">
            <span class="navbar-toggler-icon"></span>
        </button>

        <a class="navbar-brand" href="javascript:void(0)"><img src=""></a>
        <div class="collapse navbar-collapse">
            <!-- --Commented Code is for few extra buttons on top.--<form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search">
            </form>
            <ul class="navbar-nav ml-auto mt-2 mt-md-0">
                <li class="nav-item hidden-lg-down">
                    <a href="#" class="btn btn-lg btn-primary" role="button" style="padding: .375rem 1rem !important; border-color: #999;">{{ 'demo' | translate }}</a>
                </li> &nbsp;
                <li class="nav-item hidden-lg-down">
                    <a href="#" class="btn btn-lg btn-secondary" role="button" style="padding: .375rem 1rem !important; border-color: #999;">{{ 'docs' | translate }}</a>
                </li> &nbsp;
                <li class="nav-item hidden-lg-down">
                    <a href="#" class="btn btn-lg btn-success" role="button" style="padding: .375rem 1rem !important; border-color: #999;">{{ 'pricing' | translate }}</a>
                </li> &nbsp;
                <li class="nav-item hidden-lg-down">
                    <a href="#" class="btn btn-lg btn-info" role="button" style="padding: .375rem 1rem !important; border-color: #999;">{{ 'faq' | translate }}</a>
                </li> &nbsp;
                <li class="nav-item hidden-lg-down">
                    <a href="#" class="btn btn-lg btn-warning" role="button" style="padding: .375rem 1rem !important; border-color: #999;">{{ 'blog' | translate }}</a>
                </li> &nbsp;
                <li class="nav-item hidden-lg-down">
                    <a href="#" class="btn btn-lg btn-danger" role="button" style="padding: .375rem 1rem !important; border-color: #999;">{{ 'signup' | translate }}</a>
                </li> &nbsp;
                <li class="nav-item hidden-lg-down">
                    <a href="#" class="nav-link btn mt-1" role="button" style="padding: .375rem 1rem !important; border-color: #999;">{{ 'login' | translate }}</a>
                </li> &nbsp;

            </ul>-->
        </div>
    </nav>
</div>
