<!--div [@routerTransition]-->
    <app-page-header [heading]="'NER Tagging(Chunked Tree Formation)'" [icon]="'fa-edit'"></app-page-header>

    <div class="row">
        <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <div class="card card-default">
                    <form role="form">
                        <fieldset class="form-group">
                            <label>      Text Input:</label>
                            <textarea class="form-control" rows="3" placeholder="Enter text" [(ngModel)]="text.sentence" [ngModelOptions]="{standalone: true}"></textarea>
                            <p class="help-block">Simply input Text Here.</p>
                        
                            <p align="center"><button type="button" class="btn btn-lg btn-primary" (click)="addText()">Submit</button></p>
                        </fieldset>
                            <!--h6 style = "text-align: center;">OR</h6><hr>


                        <fieldset class="form-group">
                            <label>      URL Input:</label>
                            <input class="form-control" placeholder="Enter URL">
                            <p class="help-block">example: http://abcd.xyz .</p>
                            <p align="center"><button type="button" class="btn btn-lg btn-success">Submit</button></p>
                         </fieldset-->
                
                    </form>
                    <hr>
                </div>
                <div *ngIf="texts" [ngClass] = "'success'"> 
                    <div class="card">
                    <div class="card-header">Results</div>
                        <div class="card-block">
                            <!--div class="alert alert-warning mt-3 mb-0"><b><i><h5>Sentence :</h5></i></b>{{sentences}}
                            </div-->
                            <div class="alert alert-info mt-3 mb-0">
                            <b><i><h5>The Syntactic tree for Named Entity Recognition is given below :</h5></i></b>
                            <div innerHTML="{{texts}}"></div>
                            </div>
                            </div>
                        </div>
                </div>

            </div>
        <div class="col-lg-2"></div>
    </div>
         
        
