<div class="card-block">
    <ul class="timeline">
        <li>
            <div class="timeline-badge"><i class="fa fa-hand-o-left" aria-hidden="true"></i>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Tokenization</h4><hr>
                    <!--p><small class="text-muted"><i class="fa fa-clock-o"></i> 11 hours ago via Twitter</small>
                    </p-->
                </div>
                <div class="timeline-body">
                    <p>Tokenization separates text into its most fundamental elements: words. While tokenization is necessary as the basis for text analytics in any language, it is especially important for scripts that do not use spaces between words, like Japanese and Chinese.</p><hr>
                    <button _ngcontent-c11 class="btn btn-primary" type="button" [routerLink]="['/tokenization']" [routerLinkActive]="['router-link-active']">Live Demo</button>
                    
                </div>
            </div>
        </li>
        <li class="timeline-inverted">
            <div class="timeline-badge warning"><i class="fa fa-hand-o-right" aria-hidden="true"></i>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Sentiment Analysis</h4><hr>
                </div>
                <div class="timeline-body">
                    <p>Under this, text is analyzed and then scored for positive and nagative scores of keywords which are further normalized to get the inference or sentiment of the given text.</p><hr>
                    <button _ngcontent-c11 class="btn btn-primary" type="button" [routerLink]="['/sentanlys']" [routerLinkActive]="['router-link-active']">Live Demo</button>
                   
                </div>
            </div>
        </li>
        <li>
            <div class="timeline-badge danger"><i class="fa fa-hand-o-left" aria-hidden="true"></i>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">POS Tagging</h4><hr>
                </div>
                <div class="timeline-body">
                    <p>Use of machine learning and statistical analysis in Parts of Speech identification to discern the context of a punctuation mark and accurately extract only those which represent sentence boundaries.</p><hr>
                    <button _ngcontent-c11 class="btn btn-primary" type="button" [routerLink]="['/sentencetagging']" [routerLinkActive]="['router-link-active']">Live Demo</button>
                  
                </div>
            </div>
        </li>
        <li class="timeline-inverted">
        <div class="timeline-badge"><i class="fa fa-hand-o-right" aria-hidden="true"></i>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">NER Tagging</h4><hr>
                </div>
                <div class="timeline-body">
                    <p>To uncover entities such as people, organizations, and locations and chategorizing them appropriately.</p><hr>
                    <button _ngcontent-c11 class="btn btn-primary" type="button" [routerLink]="['/entitylinking']" [routerLinkActive]="['router-link-active']">Live Demo</button>
                   
                </div>
            </div>
        </li>
        <li>
            <div class="timeline-badge info"><i class="fa fa-hand-o-left" aria-hidden="true"></i>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Co-referencing</h4><hr>
                </div>
                <div class="timeline-body">
                    <p>Returns words or phrases that are semantically similar to the input word or phrase, based on the similar contexts that they appear in.</p><hr>
                    <button _ngcontent-c11 class="btn btn-primary" type="button" [routerLink]="['/coreferencing']" [routerLinkActive]="['router-link-active']">Live Demo</button>
                   
                </div>
            </div>
        </li>
        <!--li>
            <div class="timeline-badge warning"><i class="fa fa-hand-o-left" aria-hidden="true"></i>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Classification</h4><hr>
                </div>
                <div class="timeline-body">
                    <p>Classify multilingual text into standard, pre-defined taxonomies or build your own custom classification scheme in minutes.</p><hr>
                    <button _ngcontent-c11 class="btn btn-primary" type="button" [routerLink]="['/classification']" [routerLinkActive]="['router-link-active']">Live Demo</button>
             
                </div>
            </div>
        </li-->
        <li class="timeline-inverted">
            <div class="timeline-badge success"><i class="fa fa-hand-o-right" aria-hidden="true"></i>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Concept Extraction</h4><hr>
                </div>
                <div class="timeline-body">
                    <p>Applying machine learning and deep text mining rules to extract the main concept from the bundles of coherent texts.</p><hr>
                    <button _ngcontent-c11 class="btn btn-primary" type="button" [routerLink]="['/conceptextraction']" [routerLinkActive]="['router-link-active']">Live Demo</button>
              
                </div>
            </div>
        </li>
    </ul>
</div>
